

h1{
    color:#51B9E8;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:40px;
    padding:-10px;
    margin:auto 0;
    letter-spacing: 3px;
}

.ui-block-a{
	margin-left: 35%;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom:7px;

}

.message{
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow:none;
	max-width: 100%;
	word-wrap: break-word;
	font-size: 15px;
}

.ui-content{
	padding:5px;
	background-image: url("pJewmf8.jpg");
	margin:auto 0;
	position:relative;
	top:-45px;
}

#messageList{
	padding:5px;
	height: 398px;
	width:335px;
	overflow: scroll;
	padding-bottom:12px;
	padding-top:10px;
	position:relative;
}

#banner {
	position:relative;
	left:23%;
	top:-20px;
}

#currentLink{
	background-color: #595959;
	padding:10px;
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	size:40px;
	text-shadow:none;
	color: white;
	position:relative;
	top:-45px;
	padding-bottom: 7px;
}

.text{
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:10px;

}


.nameButton {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5px;
	text-align: center;
	position: relative;
}

.textb{
	position: absolute;
	margin-top: -90px;
	margin-left: -50px;
	width: 20px;
	margin-left:0px;
}
.clear{
	clear: both;
}

#nameval{
	text-align: center;
	position:relative;
	font-family: 'Source Sans Pro', sans-serif;
	width:110px;
	float:right;
	top:-40px;
	margin-right:10px;
	height:25px;
	padding-bottom: 5px;
}

#sendMessageButton{
	text-decoration: none;
}


#messageContent {
	position:relative;
	top:-47px;
	margin-top:3px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom:5px;
}

#youralias{
	position:relative;
	float:left;
	display:inline;
	padding: 5px;
	top:-30px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-right: 5px;
	padding-bottom: 10px;
	font-size:15px;
}




