h1{
    color:white;
    text-align: center;
    font-family: 'Delius', cursive;
    font-size:100px;
    padding:40px;
}

.ui-block-a{
	margin-left: 35%;
	font-family: 'Delius', cursive;

}

.message{
	font-family: 'Delius', cursive;
	text-shadow:none;
	max-width: 100%;
	word-wrap: break-word;
}

.ui-content{
	background-image: url("pJewmf8.jpg");
	text-decoration: none;

}

#messageList{
	height: 360px;
	width:340px;
	overflow: scroll;
	padding-bottom: 0px;
}

#currentLink{
	background-color: #595959;
	color:white;
	padding:10px;
	text-align:center;
	font-family: 'Delius', cursive;
	size:40px;
	text-shadow:none;
}

.ui-mobile-viewport{
	background-color: #3399FF;
	font-family: 'Delius', cursive;

}


.heart{
	text-align: right;
}

.text{
	text-align: left;
	font-family: 'Delius', cursive;
	font-size:20px;

}

.cont{
	width: 30%;
	position:relative;
	left:70px;
	text-align: center;
	float: left;
	padding:5px;
	display:inline;
	font-family: 'Delius', cursive;
	size:30px;

}

.nameButton {
	font-family: 'Delius', cursive;
	font-size: 10px;
}

.clear{
	clear: both;
}

#sendMessageButton{
	text-decoration: none;
}

#messageContent {
	font-family: 'Delius', cursive;
}