h1{
    color:#51B9E8;
    text-align: center;
    font-family: 'Delius', cursive;
    font-size:40px;
    padding:-10px;
    margin:auto 0;
    letter-spacing: 3px;
}

.ui-block-a{
	margin-left: 35%;
	font-family: 'Delius', cursive;
	padding-bottom:5px;

}

.message{
	font-family: 'Delius', cursive;
	text-shadow:none;
	max-width: 100%;
	word-wrap: break-word;
}

.ui-content{
	padding:5px;
	background-image: url("pJewmf8.jpg");
	text-decoration: none;
	margin:auto 0;

}

#messageList{
	padding:10px;
	height: 360px;
	width:335px;
	overflow: scroll;
	padding-bottom:12px;

}

#currentLink{
	background-color: #595959;
	padding:10px;
	text-align:center;
	font-family: 'Delius', cursive;
	size:40px;
	text-shadow:none;
	color: white;
}

.ui-mobile-viewport{
	background-color: #3399FF;
	font-family: 'Delius', cursive;

}


.text{
	text-align: left;
	font-family: 'Delius', cursive;
	font-size:20px;

}

.cont{
	width: 70%;
	text-align: center;
	font-family: 'Delius', cursive;
display: inline;

}


.nameButton {
	font-family: 'Delius', cursive;
	font-size: 5px;
	text-align: center;
	position: relative;
}

.textb{
	position: absolute;
	margin-top: -40px;
	margin-left: -50px;
	width: 100px;
	margin-left:0px;
}
.clear{
	clear: both;
}

#nameval{
	text-align: center;
}
#sendMessageButton{
	text-decoration: none;
}


#messageContent {
	margin-top:3px;
	font-family: 'Delius', cursive;
	margin-bottom:5px;
}

#youralias{
	text-align: center;
	padding: 5px;


}